//! **************************************************************************
// Written by: Map P.20131013 on Thu Feb 20 15:53:27 2020
//! **************************************************************************

SCHEMATIC START;
COMP "Y<1>" LOCATE = SITE "P6" LEVEL 1;
COMP "Y<2>" LOCATE = SITE "P5" LEVEL 1;
COMP "Y<3>" LOCATE = SITE "P8" LEVEL 1;
COMP "GCD_OUT<0>" LOCATE = SITE "W3" LEVEL 1;
COMP "GCD_OUT<1>" LOCATE = SITE "Y4" LEVEL 1;
COMP "GCD_OUT<2>" LOCATE = SITE "Y1" LEVEL 1;
COMP "GCD_OUT<3>" LOCATE = SITE "Y3" LEVEL 1;
COMP "DONE" LOCATE = SITE "AA4" LEVEL 1;
COMP "START" LOCATE = SITE "E6" LEVEL 1;
COMP "CLK" LOCATE = SITE "D11" LEVEL 1;
COMP "X<0>" LOCATE = SITE "V5" LEVEL 1;
COMP "X<1>" LOCATE = SITE "U4" LEVEL 1;
COMP "RESET" LOCATE = SITE "AB9" LEVEL 1;
COMP "X<2>" LOCATE = SITE "V3" LEVEL 1;
COMP "X<3>" LOCATE = SITE "P4" LEVEL 1;
COMP "Y<0>" LOCATE = SITE "R4" LEVEL 1;
SCHEMATIC END;

